<section class="form">
  <form>
    <p>
      <label>Title</label>
      <input type="text" required name="title"/>
    </p>
    <p>
      <label>Description</label>
      <textarea name="description" required cols="50" rows="10"></textarea>
    </p>
    <p>
      <label>Function ID</label>
      <input type="number" min="1" max="19" name="function_id"/>
    </p>
    <p>
      <label>Career Level ID</label>
      <input type="number" min="1" max="8" name="career_level_id"/>
    </p>
    <p>
      <label>Industry ID</label>
      <input type="number" min="1" max="14370" name="industry_id"/>
    </p>
    <button type="submit">Verify</button>
  </form>
</section>