<div class="main-container">
    <div class="main wrapper clearfix">
      {{>form}}
      <div id="results"></div>
      <section id="settings"></section>
    </div> <!-- #main -->
</div> <!-- #main-container -->