<article class="predictor">
  <p><strong>{{classification}}</strong> predictor</p>
  <ul>
    <li>id: {{id}}</li>
    <li>samplesize: {{properties.samplesize}} | dictionary_size: {{properties.dictionary_size}}</li>
    <li>geometric_mean: {{metrics.geometric_mean}}</li>
  </ul>
</article>